<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Turn_off_display.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Turn_off_display.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Turn_off_display.Properties.Settings>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockComputer" serializeAs="String">
                <value>False</value>
            </setting>
        </Turn_off_display.Properties.Settings>
        <Turn_off_display.Settings1>
            <setting name="LockComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
        </Turn_off_display.Settings1>
    </userSettings>
</configuration>